
@using DataAccessLayer.Entities
@model Client
@{
    ViewData["Title"] = "Profile";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2 class="text-center">@Model.Email profile</h2>

<div class="container">
    @if (Model.Deliveries.Count > 0)
    {
        @foreach (var delivery in Model.Deliveries)
        {
            bool flag = false;
            string tableclass = "";
            if (delivery.Status != DeliveryStatus.Completed)
            {
                flag = true;
                tableclass = "table-info";
            }
            <h2>Delivery № @delivery.Id</h2>
            <table class="table @tableclass">
                <thead class="thead-dark">
                    <tr>
                        <th>Date</th>
                        <th>CourierId</th>
                        <th>Products</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>@delivery.Date</td>
                        <td>@delivery.CourierId</td>
                        <td>
                            <ul>
                                @{ double sum = 0; }
                                @foreach (var dap in delivery.DeliveryAndProducts)
                                {
                                    <li>@dap.Product.Name: @dap.Count</li>
                                    sum += dap.Count * dap.Product.Price;
                                }
                            </ul>
                            @{ sum /= 100;}
                        </td>
                    </tr>
                </tbody>
            </table>
            <h3>Sum @sum $</h3>
            @if (flag)
            {
                <div id="googleMap" style="width:100%;height:400px;"></div>
                <script>
                    var map;
                    var marker;

                    function myMap(x,y) {
                        var mapProp = {
                            center: new google.maps.LatLng(50.005668, 36.229267),
                            zoom: 15
                        };
                        map = new google.maps.Map(document.getElementById("googleMap"), mapProp);
                        marker = new google.maps.Marker({
                            position: map.center,
                            animation: google.maps.Animation.BOUNCE
                        });

                        marker.setMap(map);
                    }

                    function updateMap(x, y) {
                        map.setCenter(new google.maps.LatLng(x, y));
                        marker.setPosition(map.center);
                    }
                </script>
                <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBYW9HueqiYzyemr-X9Lku_ZuGejPxii_8&callback=myMap"></script>
                <script>
                    var config = {
                        headers: { 'Access-Control-Allow-Origin': 'http://localhost:8080' }
                    };
                    setTimeout(function () {
                        axios.get('http://localhost:58123/api/tracker/@delivery.Id', config)
                            .then(function (response) {
                                if (response.status == 200) {
                                    updateMap(response.data.x, response.data.y);
                                    console.log(response);
                                }
                            })
                    }, 5000);
                </script>
            }
            <hr />
        }
    }
    else
    {
        <h3>this user hasn't got deliveries</h3>
    }
</div>

